* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;    
    display: flex;
}


form {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: flex-start;
    align-items: center;
    justify-content: space-around;
    background-color: #fdf5c9;
}

form input{
    padding: 8px;
}

h1 {
    color: 	#54363b;
    font-weight: 700;
}


button {
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    border: 3px solid grey;   
}

.bookEntry{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; 
    border-right: 2px solid black;
    flex: 0.6;
    box-shadow: 20px;
    background-color:#be9b7b;
    flex-shrink: 0;
}


.bookCard .checkboxRow{
    width: 100%;
    display: flex;
    gap: 10px;
}


.bookShelf{
    background-color: 	#6b3e26;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    justify-content: space-evenly;
    min-height: 0;
}


.bookCard {
    padding: 8px;
    margin: 8px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-left: 15px solid grey;
    border-bottom: 10px solid yellow;
    border-radius: 1rem 5px 5px 1rem;
    justify-content: center;
    background-color: #fbffc0;
    gap: 8px;
    padding-left: 40px;
    align-items: flex-start;
    font-weight: 700;
    color: #6b3e26;
}


